@import '../fonts.scss';
@import '../colors.scss';
@import '../defaults.scss';

.cartItem {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  border-bottom: 1px solid $lighter-grey;

  .cartTop {
    display: flex;
    flex-direction: row;
    height: 25vw;

    .cartItemImage {
      width: 38%;
      object-fit: cover;
      max-height: 195px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .cartInfo {
      width: 100%;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .product {
        span {
          .title {
            margin: 0px;
            font-size: calc(0.8em + 1vw);
          }

          .price {
            margin: 0px;
            font-size: calc(0.7em + 1vw);
            font-weight: 300;
          }
        }

        .remaining {
          display: none;
        }
      }

      .removeButton {
        @extend %button;
        background-color: inherit;
        color: $red;
        font-size: calc(0.7em + 1vw);
        margin-bottom: 6px;

        &:hover {
          color: $red-hover;
        }
      }
    }
  }

  .cartBottom {
    margin-top: 18px;
    height: 40px;
    display: flex;
    justify-content: space-between;

    .subtractButton {
      @extend %button;
      @extend %quantity-button;
      border-top-left-radius: 999px;
      border-bottom-left-radius: 999px;
      width: 33%;
    }

    .quantity {
      box-sizing: border-box;
      border: 1px solid $lightest-grey;
      display: flex;
      align-items: center;
      font-family: $lora;
      font-size: calc(0.7em + 1vw);
      justify-content: center;
      margin: 0px;
      height: 100%;
      width: 34%;
    }

    .addButton {
      @extend %button;
      @extend %quantity-button;
      border-top-right-radius: 999px;
      border-bottom-right-radius: 999px;
      width: 33%;
    }
  }
}


@media only screen and (min-width: 780px) and (min-height: 678px) {
  .cartItem {
    position: relative;
    max-height: 195px;

    .cartTop {
      .cartInfo {
        height: 75%;
        justify-content: flex-start;

        .product {
          margin-bottom: 10px;

          span {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .title {
              font-size: 21px;
            }

            .price {
              font-size: 19px;
            }
          }
        }

        .removeButton {
          font-size: 19px;
        }
      }
    }

    .cartBottom {
      position: absolute;
      right: 0px;
      bottom: 20px;
      width: 61%;

      .quantity {
        font-size: 19px;
      }
    }
  }
}
