@import '../fonts.scss';
@import '../colors.scss';
@import '../defaults.scss';

.cart {
  background-color: $white;
  box-sizing: border-box;
  padding: 18px;
  position: fixed;
  height: 100%;
  width: 100%;

  .cartHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;

    .closeButton {
      cursor: pointer;
      padding: 0px;
      margin: 0px;
      height: 22px;
      width: 22px;
      color: $light-grey;
    }

    h3 {
      font-size: calc(1.4em + 1.2vw);
      margin: 0px;
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }

  // background-image: url('../../styles/images/mobile-cart.png');
  // background-size: contain;


  .cartList {
    overflow: scroll;
    height: calc(100vh - 200px);

    .cartItem {
      display: flex;
      flex-direction: column;
      padding: 20px 0px;
      border-bottom: 1px solid $lighter-grey;

      .cartTop {
        display: flex;
        flex-direction: row;
        height: 25vw;
      }

      .cartBottom {
        margin-top: 18px;
        height: 36px;
        display: flex;
        justify-content: space-between;

        .subtractButton {
          @extend %button;
          @extend %grey-button;
          border-top-left-radius: 999px;
          border-bottom-left-radius: 999px;
          width: 33%;
        }

        .quantity {
          box-sizing: border-box;
          border: 1px solid $lightest-grey;
          display: flex;
          align-items: center;
          font-family: $lora;
          font-size: calc(0.7em + 1vw);
          justify-content: center;
          margin: 0px;
          height: 100%;
          width: 34%;
        }

        .addButton {
          @extend %button;
          @extend %grey-button;
          border-top-right-radius: 999px;
          border-bottom-right-radius: 999px;
          width: 33%;
        }
      }

      .cartItemImage {
        width: 38%;

        img {

          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .cartInfo {
      width: 100%;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .product {
        span {

          .title {
            margin: 0px;
            font-size: calc(0.8em + 1vw);
          }

          .price {
            margin: 0px;
            font-size: calc(0.7em + 1vw);
            font-weight: 300;
          }
        }

        .remaining {
          display: none;
        }

      }

      .removeButton {
        @extend %button;
        background-color: inherit;
        color: $red;
        font-size: calc(0.7em + 1vw);
        margin-bottom: 6px;
      }
    }
  }



}

.transparency {
  align-items: center;
  background-color: rgba(0,0,0,.5);
  display: flex;
  min-height: 100vh;
  height: fit-content;
  justify-content: center;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100vw;
  z-index: 5;

  // display: none;
}

// .cart {
//   background-color: $white;
//   border-radius: 8px;
//   box-sizing: border-box;
//   padding: 30px;
//   height: 60%;
//   width: 60%;
// }
