$white: #FFFFFF;
$lightest-grey: #F5F5F5;
$lighter-grey: #D8D8D8;
$light-grey: #9B9B9B;
$grey: #8E939C;
$charcoal: #292929;
$black: #000000;

$red: #CC1D39;
$red-hover: #AA0823;
$blue: #5E97D1;
$blue-hover: #407FC0;
