$white: #FFFFFF;
$lightest-grey: #F5F5F5; // background, grey button
$lighter-grey: #D8D8D8; //line-break
$light-grey: #9B9B9B; // remaining, cart-full, X
$grey: #8E939C; //grey button
$charcoal: #292929; // header, title, $$$, cart, (OPACITY 30% on disable)
$black: #000000; // numeric

$red: #CC1D39;
$blue: #5E97D1; //(OPACITY 30% on disable)
$blue-hover: #407FC0; //hover, blue text
